body {
  padding: 0;
  margin: 0;
}

.content {
  position: absolute;
  max-width: 1440px;
  max-height: 1201.5px;
  height: 100%;
  width: 100%;
  padding: 0 10px 50px;
  background-color: #fff;
}
.eclipse {
  position: absolute;
  width: 501px;
  height: 501px;
  left: -122px;
  top: -60px;
  border-radius: 50%;
  background: linear-gradient(
    145.44deg,
    #e8edf0 10.54%,
    rgba(232, 237, 240, 0) 85.04%
  );
}

.title {
  text-align: center;
  margin-left: 40%;
}
.title__name {
  position: static;
  width: 408px;
  height: 54px;
  left: 0px;
  top: 0px;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #758091;
}
.grid-wrapper {
  height: 50%;
  width: fit-content;
  margin: 5% auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: repeat(3, 1fr);
}
.grid-wrapper__item {
  border-radius: 15.36px;
  border: 1px solid #e9ecf2;
  box-sizing: border-box;
  filter: drop-shadow(0px 3.84083px 20.1644px rgba(157, 175, 181, 0.25));
}
.a {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  height: 429px;
  width: 267px;
}
.b {
  height: 254.46px;
  width: 540px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}
.c {
  width: 293px;
  height: 225px;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}
.d {
  margin-top: 5px;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  width: 540px;
  height: 180px;
}
.e {
  grid-column: 3 / 3;
  grid-row: 2 / span 2;
  width: 293px;
  height: 225px;
}
.f {
  grid-row: 3 / 4;
  grid-column: 1 / 1;
  width: 267px;
  height: 217px;
}
.g {
  width: 540px;
  height: 180px;
  grid-column: 2 / 2;
  grid-row: 3/ 3;
}
.grid-wrapper__item__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #232527;
  text-align: justify;
}
.text,
.text__bottom,
.text__bottom--ceo,
.stars {
  padding: 0 20px;
}
.text__bottom--ceo {
  margin-top: -15px;
}
.stars {
  margin-top: -10px;
}
.rahul-img {
  width: 272px;
  height: 254.46px;
  border-radius: 15.36px;
}
.b__flex,
.c__flex,
.e__flex,
.d__flex,
.g__flex,
.f__flex {
  display: flex;
}
.c__flex--inside,
.e__flex--inside,
.d__flex--inside,
.g__flex--inside,
.f__flex--inside {
  display: flex;
  flex-wrap: wrap;
}
.nazmul-img,
.amir-img,
.sari-img {
  width: 46.09px;
  height: 46.09px;
  padding-left: 15px;
  padding-top: 15px;
}
.saimoon-img,
.sakib-img {
  width: 52.81px;
  height: 52.81px;
  padding-left: 15px;
  padding-top: 15px;
}
